<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src = "https://cdn.invertexto.com/img/invertexto.png" alt = "LogoInvertexto" class="logo-invertexto">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand = "block" (click) = "goToPessoaPage()">Gerador de Pessoa
    <ion-icon name = "people"></ion-icon>
  </ion-button>
  <ion-button expand = "block" (click) = "goToCepPage()">Buscador com CEP
    <ion-icon name = "pin"></ion-icon>
  </ion-button>
</ion-content>
