<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="https://cdn.invertexto.com/img/invertexto.png" alt="LogoInvertexto" class="logo-invertexto">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button fill="clear" (click)="goToHome()" class="back-button">
    <ion-icon slot="start" name="arrow-back"></ion-icon>
  </ion-button>

  <ion-item>
    <ion-label position="floating" class="input-label">Digite o CEP</ion-label>
    <ion-input [(ngModel)]="cep" type="text" maxlength="8" class="input-cep"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="buscarCep()" class="button-buscar">
    Buscar CEP
  </ion-button>

  <!-- Mostra erro -->
  <ion-item lines="none" *ngIf="errorMessage">
    <ion-label color="danger">{{ errorMessage }}</ion-label>
  </ion-item>

  <!-- Mostra dados do CEP -->
  <ion-item lines="none" *ngIf="dadosCep">
    <ion-label>
      <h2 class="cep-title">Informações do CEP</h2>
      <p class="cep-detail"><strong>CEP: </strong> {{dadosCep.cep}}</p>
      <p class="cep-detail"><strong>Rua: </strong> {{dadosCep.street}}</p>
      <p class="cep-detail"><strong>Bairro: </strong> {{dadosCep.neighborhood}}</p>
      <p class="cep-detail"><strong>Cidade: </strong> {{dadosCep.city}}</p>
      <p class="cep-detail"><strong>Estado: </strong> {{dadosCep.state}}</p>
    </ion-label>
  </ion-item>
</ion-content>
