.input-label{
    font-weight: bold;
    margin-bottom: 5px;
}
.input-cep{
    font-size: 18px;
}
.button-buscar{
    margin-top:20px;
    font-size: 18px;
    padding: 12px;
}
.error-message{
    color: red;
    margin-top: 10px;
    font-weight: bold;
}
.cep-info{
    margin-top: 20px;
}
.cep-title{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.cep-detail{    
    font-size: 16px;
    margin-bottom: 5px;
}